body{
	font-family: sans-serif, serif;
	color: #DFDCE3;
	background-color: #4ABDAC; }
h1{
	text-shadow: 1px 1px 1px #ccc;
	font-family: Georgia, serif;
	color: #F7B733; }
address{
	margin-top: 2em;
	padding-top: 2em;
	border-top: thick double #F7B733; }
